@page
@model VidZNow.Pages.AboutWebsiteModel
@{
}

<div>
    <h1>About VidZNow</h1>
    <p>
        Welcome to VidZNow, where we value your time and effort. Are you tired of wasting countless hours on TikTok?
        Frustrated with brain-rotting content? You’re in the right place! At VidZNow, we pay you to naturally and thoughtfully
        summarize videos (AI generation can get you banned). Your authentic insights can help others decide if a video is worth watching.
    </p>
    <p>
        The top 3 summaries will be pinned, providing users with a quick and engaging overview of the content so that they can make a choice if the video is worth watching) Soon, you'll
        be able to upload quality videos worth watching, all neatly categorized for easy browsing.
    </p>
    <p>
        Our goal is to offer a sleek, ad-free experience where you can enjoy valuable content and get rewarded for your
        contributions. Join us at VidZNow for a fresh, free service dedicated to enhancing your viewing experience.
    </p>
</div>
