@page
@model VidZNow.Pages.EnlighteningModel
@{
}



<div>
    <h1 > Stream the most enlightening videos! </h1>
    <p> This page is meant to show videos that are worth watching based on an algorithm that involves the highest number of comments added + liked top comments + user popularity</p>
    <p> Perhaps add tabs for different genres and the videos within</p>
</div>